<server description="new server">

    <featureManager>
        <feature>webProfile-6.0</feature>
        <feature>jaxrs-1.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="${env.OPENSHIFT_LIBERTY_IP}" httpPort="${env.OPENSHIFT_LIBERTY_HTTP_PORT}" />
		
    <logging logDirectory="${env.OPENSHIFT_LIBERTY_LOG_DIR}" />

    <httpDispatcher enableWelcomePage="false" />

    <transaction transactionLogDirectory="${env.OPENSHIFT_LIBERTY_TRANLOG_DIR}" />

    <application id="myapp" name="myapp" type="war" location="ROOT.war" context-root="/" />

    <applicationMonitor pollingRate="1s" />

    <config monitorInterval="1s" />

    <!-- example datasource for postgresql DB
    <dataSource id="jdbc/postgresqlds" jndiName="jdbc/postgresqlds" jdbcDriverRef="PostgreSQL">
        <properties databaseName="${env.OPENSHIFT_APP_NAME}" serverName="${env.OPENSHIFT_POSTGRESQL_DB_HOST}" password="${env.OPENSHIFT_POSTGRESQL_DB_PASSWORD}" portNumber="${env.OPENSHIFT_POSTGRESQL_DB_PORT}" user="${env.OPENSHIFT_POSTGRESQL_DB_USERNAME}" />
    </dataSource>

    <jdbcDriver id="PostgreSQL" libraryRef="PostgreSQLLib" javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource" javax.sql.XADataSource="org.postgresql.xa.PGXADataSource" />

    <library id="PostgreSQLLib">
        <fileset dir="${OPENSHIFT_BUILD_DEPENDENCIES_DIR}/.m2/repository/org/postgresql/postgresql/9.2-1003-jdbc4" includes="postgresql-*.jar" />
    </library> -->

</server>
