<server description="new server">

    <featureManager>
        <feature>webProfile-6.0</feature>
        <feature>jaxrs-1.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="${env.OPENSHIFT_LIBERTY_IP}" httpPort="${env.OPENSHIFT_LIBERTY_HTTP_PORT}" />

    <application id="myapp" name="myapp" type="war" location="ROOT.war" context-root="/" />

    <logging logDirectory="../../log" />

</server>
