<server description="new server">

    <featureManager>
        <feature>jsp-2.2</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="${host}"
                  httpPort="${http.port}"
                  />

    <application id="myapp" name="myapp" type="war" location="ROOT.war" context-root="/" />


</server>
