<server description="new server">

    <featureManager>
        <feature>webProfile-6.0</feature>
        <feature>jaxrs-1.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="${host}"
                  httpPort="${http.port}"
                  />

    <application id="myapp" name="myapp" type="war" location="ROOT.war" context-root="/" />


</server>
